.idea
*.iml

/stacktrace.log
/target/
/test/projects/grails-app-tested-by-fitnesse/target
/test/projects/grails-app-tested-by-fitnesse/wiki/FitNesseRoot/*
!/test/projects/grails-app-tested-by-fitnesse/wiki/FitNesseRoot/FrontPage/

/.svn/
