<plugin name='fitnesse' version='0.97' grailsVersion='1.3.2 &gt; *'>
  <author>Erik Pragt</author>
  <authorEmail>erik.pragt@jworks.nl</authorEmail>
  <title>Fitnesse Grails Plugin</title>
  <description>The Fitnesse Grails plugin provides a bridge between Fitnesse and Grails.</description>
  <documentation>http://bodiam.github.com/grails-fitnesse-plugin/docs/manual/</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>fitnesse.grails.BeginTransactionFixture</resource>
    <resource>fitnesse.grails.CommitFixture</resource>
    <resource>fitnesse.grails.EndTransactionFixture</resource>
    <resource>fitnesse.grails.GivWenZenForGrails</resource>
    <resource>fitnesse.grails.RollbackFixture</resource>
    <resource>nl.jworks.fitnesse.quickstart.EchoFixture</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>